h1{
	display: block;
	text-align: center;
}

div {
	/*align-items: center;*/
}
.column {
  float: left;
  width: 50%;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

object{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}